// jQuery and Chart.js moved to head
//script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js", type="text/javascript")
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
script(type="text/javascript", src="../../javascripts/chartConfig.js")
// 16.2.16 Temporarily disabled to check whether exporting createChart as a function would be better solution
script(type="text/javascript", src="../../javascripts/chartControl.js")