extends layout

block content
    body.form
        include ./chart.jade
        form(action="/create", method="post")
            div
                label(for="option1") Option:
                input#option1(type="text")
            div
                label(for="option2") Option:
                input#option2(type="text")
            div
                label(for="option3") Option:
                input#option3(type="text")
            div
                label(for="option4") Option:
                input#option4(type="text")
            div
                button.button.btn.btn-default(type="button") Add more options
                button.button.btn.btn-default(type="submit") Create